*.pt
__pycache__/
validation_results/
datasets/
models/
runs/
Clips/
src/clips/
src/forensic_journal.json
Archive/
temp_*.mp4
kaggle/datasets/
kaggle/hashtag-initial-weights/
*.zip
*.engine
*.onnx

build/
managed_components/
dependencies.lock
venv/
node_modules/
.env
